
body {
  /* margin: 0px 147px; */
  background-color: #000000;
  font-family: "Poppins";
  font-style: normal;
  font-size: 16px; /*размер для всего текста по умолчанию*/
  /* line-height: 1.2; */
  font-weight: normal;
  color: white;
  /* width: 100%; */
  

}

.adaptiv  {
  border: dashed rebeccapurple;
}
.main-description {
  border: dashed rebeccapurple;

}
.content-section {
  border: dashed rebeccapurple;
}
.content-section-banner {
  border: dashed rebeccapurple;
}
.feature-section{
  border: dashed rebeccapurple;
}
.projects-section {
  border: dashed rebeccapurple;
}

.pr-container1 {
  border: dashed rgb(153, 51, 136);
}