.main-description {
  max-width: 100%;
  min-width: 320px;
}



.description-text, .description-details {
  /* word-wrap: break-word; */
  flex-wrap: wrap;
  /* display: block; */
}
.description-text {
  margin-top: 17px;
  margin-bottom: 20px;
  /* word-wrap: break-word; */
  width: 479px;
  font-size: 50px;
  font-weight: 700;
  line-height: 77.6px; 
  white-space: wrap;

}
.description-details {
  margin-top: 20px; 
  word-wrap: break-word;
  width: 527px;
  height: 101px;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px; 
}
.description-title {
  color: #E87D0E;
  font-size: 20px;
  font-weight: 700;
  line-height: 31.04px; 
  transition: color 3s ease-in-out; /* сolor.js*/
}
span {
  word-wrap: break-word;
}
.description-button {
  margin-top: 50px;
  width: 195px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 40px;
  background: linear-gradient(113deg, #FA8305 0%, #FB9E3C 100%);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
.flex-container {
  display: flex;
  flex-direction: row;
  
}

.description-content {
  /* flex: 1;  */
  width: 906,25%;
  height: auto;
  padding-right: 145px; 
}

.description-img {
  flex: 1; 
  display: flex;
  justify-content: flex-end; /* Выравнивание содержимого по правому краю */
  align-items: center; /* Выравнивание содержимого по вертикали по центру */
}

