.projects-section {
  /* background-color: #FFF; */
  margin-top: 234px;
  width: 100%;
  height: auto;
}

.projects-title {
  display: flex;
  justify-content: center;
}

.project-heading {
  color: #ffffff;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 187.5%;
  text-align: center;
}

.project-description {

  height: 57px;
  flex-shrink: 0;
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 187.5%;
  text-align: center;
  margin-bottom: 71px;
}

/* - - - - - - - - - - - */
.project-images {
  display: flex;
  border: 1px dashed #fff;
  flex-wrap: wrap;
}

.proj-img {
  border-radius: 10px;
  margin: 6px auto;
  width: 30%;
  max-height: 223px;
  object-fit: cover;
}

/* - - - - - - - - - - - */
.btn-sap-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-see-all-projects {
  color: #FFF;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 187.5%;

  align-items: center;
  width: 139px;
  height: 57px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.11);
  flex-shrink: 0;
}