.subscription-container {
  color: #fff;
  margin: 0px 147px;
  width: 1600px;
}
.lorem-title1 {
    width: 209px;
    height: 40px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 187.5%;
    margin-top: 114px;
}
.lorem-text1 {
  margin-top: 32px;
  width: 545px;
  height: 57px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 187.5%;
}
.wrapper {
  width: 1400px;
  height: 189px;
  border-radius: 15px;
  background: #1C140F;
  flex-shrink: 0;
  padding: 40px 50px 40px 50px;
  margin-top: 74px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.loop-title {
  width: 303px;
  color: #FFF;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.subscribe-text {
    width: 636px;
    color: #FFF;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.wrapper-eea {
  width: 385.679px;
  height: 48px;
  border-radius: 8px;
  background: #FFF;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.btn-continue {
  border: none;
  width: 104.996px;
  height: 37px;
  border-radius: 8px;
  background: #DC7000;
  flex-shrink: 0;
  color: #FFF;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-items: center;
  margin-right: 6.24px;
} 