.subscription-container {
  color: #fff;
  /* margin: 0px 147px; */
  width: 100%;
}
.lorem-title1 {
    width: 209px;
    height: 40px;
    flex-shrink: 0;
    font-size: 30px;
    font-weight: 600;
    line-height: 187.5%;
    margin-top: 114px;
}
.lorem-text1 {
  margin-top: 32px;
  width: 545px;
  height: 57px;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 187.5%;
}
.wrapper {
  width: 100%;
  border-radius: 15px;
  background: #1C140F;
  flex-shrink: 0;
  padding: 40px 50px 40px 50px;
  margin-top: 74px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.loop-title {
  /* width: 303px; */
  width: 100%;
  word-wrap: break-word;
  font-size: 30px;
  font-weight: 500;
  line-height: normal;
}
.subscribe-text {
  word-wrap: break-word;
  /* width: 636px; */
  /* width: 100%; */
min-width: 200px;
  font-size: 17px;
  font-weight: 400;
  line-height: normal;
}
.wrapper-eea {
  width: 385px;
  height: 48px;
  border-radius: 8px;
  background: #ffffff;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.btn-continue {
  border: none;
  width: 104px;
  height: 37px;
  border-radius: 8px;
  background: #DC7000;
  flex-shrink: 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-items: center;
  margin-right: 6.24px;
} 

/* Добавьте этот медиа-запрос для меньших экранов */
@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column; /* Измените направление на вертикальное */
    align-items: center; /* Выравнивание по центру */
  }

  .wrapper-eea {
    margin-top: 20px;
    min-width: 200px; /* Ограничьте максимальную ширину кнопки 100% контейнера */
    width: auto; /* Добавьте отступ между .wrapper и .wrapper-eea */
  }

  .btn-continue {
    max-width: 100%; /* Ограничьте максимальную ширину кнопки 100% контейнера */
    width: auto; /* Автоматическая ширина для подгонки под контент */
  }
}
